<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Einverständniserklärung</title>
<style type="text/css">
body {
  font-family: lora;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

h1 {
  padding-top: 0.5cm;
  margin: 0;
}

h2 {
  margin: 0 0 1.5cm 0;
}

p {
  margin: 2mm 0 0 0;
  text-indent: 0.5cm;
  text-align: justify;
  hyphens: auto;
}

td {
  padding: 0.1cm 0;
}

#content {
  margin: 0cm 2.5cm 0cm 2.5cm;
  font-size: 9.5pt;
}
</style>
</head>
<body>
  <h1>Einverständniserklärung</h1>
  <h2>Programmieren</h2>
  <div id="content">
    <p>Die bei der Praktomat-Anmeldung genannten persönlichen Daten
      (Name, Vorname, Matrikelnummer, Semester, E-Mail-Adresse) sowie
      meine Lösungen werden zum Zwecke des Forschungs- und Lehrbetriebs
      der Fakultät erhoben. Ich erkläre mich mit der Speicherung und
      elektronischen Verarbeitung dieser Daten einverstanden. Die persönlichen Daten werden ausschließlich 
      Personen zugänglich gemacht, die mit der Bewertung meiner Lösungen beauftragt 
      sind.</p>
    <p>
      Ich weiß, dass ich nur Lösungen einreichen darf, die ich selbst
      und selbstständig erstellt habe. Das Einreichen fremder Lösungen,
      seien es auch teilweise Lösungen von Dritten, aus Büchern, dem
      Internet oder anderen Quellen ist ein Täuschungsversuch und führt
      zur Bewertung als "nicht bestanden". Auch die Beihilfe, wie die
      Weitergabe der eigenen Lösung oder von Teilen davon, kann als
      Täuschungsversuch gewertet werden. <strong>Mir ist
        bewusst, dass der "Übungsschein Programmieren" bereits beim
        ersten Täuschungsversuch mit "nicht bestanden" bewertet wird und
        somit eine Teilnahme an den Abschlussaufgaben nicht möglich ist.</strong>
      Wiederholtes Auffallen durch Täuschungsversuche kann zur
      Exmatrikulation führen. Mir ist bekannt, dass für
      Orientierungsprüfungen besondere Prüfungsmodalitäten gelten.
    </p>
    <p>Ich erkläre, dass ich Programme und Daten von Dritten, die
      mir im Rahmen dieser Veranstaltung bekannt werden oder
      bekanntgemacht werden, vertraulich behandeln, nicht an andere
      weitergeben und nicht selbst verwerten werde.</p>
    <p>Ich weiß, dass Computer-bezogene Straftaten wie etwa
      Computersabotage oder das Ausspähen und Manipulieren von
      geschützten Daten zum Ausschluss aus der Veranstaltung sowie der
      Exmatrikulation und strafrechtlicher Verfolgung führen können.
      Bereits der Versuch ist strafbar.</p>
    <p>
      <strong>Copyright:</strong> Das Vorlesungs- und Übungsmaterial
      darf ausschließlich zu Zwecken genutzt werden, die in direktem
      Zusammenhang mit der Veranstaltung Programmieren stehen.
      Insbesondere die Weitergabe des hier zur Verfügung gestellten
      Materials an Dritte ist nicht gestattet. Foliensätze,
      Übungsblätter, Musterlösungen und auf den Webseiten des Lehrstuhls
      bzw. in Praktomat veröffentlichter Java-Code unterliegen dem
      gemeinsamen Copyright der Lehrstühle IPD Snelting, ITI Sinz,
      IPD Reussner und IPD Koziolek.
    </p>
    <table
      style="width: 100%; margin-top: 0.5cm; font-size: 9.5pt; border-collapse: collapse;">
      <tr>
        <td style="padding-left: 2mm"><strong>%%name%%</strong></td>
        <td rowspan="6" style="text-align: right"><img alt=""
          src="data:image/png;base64,%%qr%%" style="width: 6cm; height: 6cm"></td>
      </tr>
      <tr>
        <td style="padding-left: 2mm; border-top: 0.5pt solid">(Vorname
          und Name)</td>
      </tr>
      <tr>
        <td style="padding-left: 2mm"><strong>%%matricno%%</strong></td>
      </tr>
      <tr>
        <td style="padding-left: 2mm; border-top: 0.5pt solid">(Matrikelnummer)</td>
      </tr>
      <tr>
        <td style="height: 1.2cm"></td>
      </tr>
      <tr>
        <td style="padding-left: 2mm; border-top: 1pt solid"><strong>(Datum,
            Unterschrift)</strong></td>
      </tr>
    </table>
    <div
      style="margin-top: 0.2cm; padding: 0.2cm; font-style: italic; text-align: center">
      Bitte unterschrieben an <i>programmieren-vorlesung@ipd.kit.edu</i> schicken.
    </div>
  </div>
</body>
</html>
